# Build
bin/
obj/

# IDE
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

# User-specific
*.rsuser
*.userprefs

# Logs
debug-*.log
